{% extends 'base.html' %}
{% load staticfiles %}
{% load comment_tags %}
{% load render_table from django_tables2 %}
{% block extralinks %}
    <link rel="stylesheet" href="{% static 'css/comment.css' %}">
{% endblock %}
{% block title %} {{ client.name }} - Comfortable Home{% endblock %}
{% block breadcrumb %}
    <div class="page-header">
        <h2 class="pageheader-title">Клиент {{ client.name }}</h2>
        <div class="page-breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'clients:list' %}">Клиенты</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ client.name }}</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock breadcrumb %}
{% block content %}
    <div class="main_container" id="maincontainer">
        <div class="overview_form_block row marl justify-content-center">
            <div class="col-md-12">
                <div class="simple-card">
                    <div class="card-header d-flex">
                        <div class="toolbar ml-auto">
                            <a href="{% url 'clients:edit' client.id %}" class="btn btn-light btn-sm"><i
                                    class="fas fa-pencil-alt"></i></a>
                            <a href="{% url 'clients:remove' client.id %}" class="btn btn-light btn-sm"><i
                                    class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <ul class="nav nav-tabs" id="myTab5" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link border-left-0 active show" id="main-information-tab"
                                   data-toggle="tab" href="#main-information" role="tab" aria-controls="home"
                                   aria-selected="true">Основное</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="additional-information-tab" data-toggle="tab"
                                   href="#additional-information" role="tab" aria-controls="contact"
                                   aria-selected="false">Дополнительно</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="activity-information-tab" data-toggle="tab"
                                   href="#activity-information" role="tab" aria-controls="contact"
                                   aria-selected="false">Обращения</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="documents-tab" data-toggle="tab"
                                   href="#documents" role="tab" aria-controls="contact"
                                   aria-selected="false">Документы</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent5">
                            <div class="tab-pane fade active show" id="main-information" role="tabpanel"
                                 aria-labelledby="home-tab-simple">
                                <p>ФИО: {{ client.name }} </p>
                                <p>Пол: {{ client.gender }}</p>
                                <p>Дата рождения: {{ client.birthday }}</p>
                                <p>Номер телефона: {{ client.phones }}</p>
                                <p>Email: {{ client.email }}</p>

                            </div>
                            <div class="tab-pane fade" id="additional-information" role="tabpanel"
                                 aria-labelledby="contact-tab-simple">
                                <p>Звонки: {% if client.calls %} Да {% else %} Нет {% endif %}</p>
                                <p>SMS: {% if client.sms %} Да {% else %} Нет {% endif %}</p>
                                <p>Email: {% if client.mail %} Да {% else %} Нет {% endif %}</p>
                            </div>
                            <div class="tab-pane fade" id="activity-information" role="tabpanel"
                                 aria-labelledby="activity-tab-simple">
                                {% render_table requests_table %}
                            </div>
                            <div class="tab-pane fade" id="documents" role="tabpanel"
                                 aria-labelledby="documents-tab">
                                {% render_table documents_table %}
                            </div>
                        </div>
                    </div>
                </div>
                {% get_comments client request %}
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/comment.js' %}"></script>
{% endblock %}