{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block title %} {% website_title objects %} {% endblock %}

{% block breadcrumb %}
    <div class="page-header">
        <h2 class="pageheader-title">{% verbose_name_plural view.model %}</h2>
    </div>
{% endblock breadcrumb %}

{% block content %}
    {% for object in objects %}
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">{{ object.title }}</h3>
                <p class="card-text">{{ object.text }}</p>
                <p class="text-muted">{{ object.created_on }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}