{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} <title>{{apartment.address}} - Comfortable Home</title>{% endblock %}
{% block breadcrumb %}
<div class="page-header">
        <h2 class="pageheader-title">{{apartment.address}}, квартира {{ apartment.apartment_number }}</h2>
    <div class="page-breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li  class="breadcrumb-item"><a href="{% url 'apartments:list' %}">Квартиры</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{apartment.address}}, квартира {{ apartment.apartment_number }}</li>
            </ol>
        </nav>
    </div>
</div>
{% endblock breadcrumb %}
{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header d-flex">
                <h3 class="card-header-title">Подробная информация</h3>
                <div class="toolbar ml-auto">
                    <a href="{% url 'apartments:edit' apartment.id %}" class="btn btn-light btn-sm"><i class="fas fa-pencil-alt"></i></a>
                    <a href="{% url 'apartments:remove' apartment.id %}" class="btn btn-light btn-sm"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
            <div class="card-body">
                <p class="text-left">Адрес: {{apartment.address}}</p>
                <p class="text-left">Номер квартиры: {{apartment.apartment_number}}</p>
                <p class="text-left">Подъезд: {{apartment.entrance}}</p>
                <p class="text-left">Этаж: {{apartment.floor}}</p>
                <p class="text-left">Количество комнат: {{apartment.number_of_rooms}}</p>
                <p class="text-left">Площадь: {{apartment.area}}</p>
                <p class="text-left">Статус: {{apartment.status}}</p>
                <p class="text-left">История заявок: -</p>
                <p class="text-left">Лицевой счет: {{apartment.business_account}}</p>
            </div>
            <div class="card-footer  p-0 text-left d-flex justify-content-center">
                <div class="card-footer-item card-footer-item-bordered">
                Дата: {{ apartment.created_date }}
                </div>
                <div class="card-footer-item card-footer-item-bordered">
                Добавил: {{ apartment.created_by.username }}
                </div>
            </div>
        </div>
    </div>
  {% endblock content %}
{% block js_block %}
{% endblock js_block %}
