{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} <title>Собственники - Comfortable Home</title>{% endblock %}
{% load paginate %}
{% block breadcrumb %}
<div class="page-header">
    <h2 class="pageheader-title">Собственники</h2>
</div>
{% endblock %}
{% block content %}
<!-- main_container starts here -->
<div class="main_container">
  <!-- filter_row starts here -->
  <div class="filter_row row marl">
    <div class="col-md-12">
  <div class="table_container_row row marl no-gutters">
    <div class="col-md-12">
      <div class="card">
      <div class="card-header d-flex">
            <h3 class="card-header-title">{% if show_pageitems %} {% show_pageitems %}{% else %}Всего: {{homeowner_obj|length}}{% endif %}</h3>
                <div class="toolbar ml-auto">
                    <a href="#" title="Конвертировать" class="btn btn-light btn-sm to-xls">XLS</a>
                    <a href="#" title="Конвертировать" class="btn btn-light btn-sm to-cvs">CSV</a>
                    <a href="{% url 'homeowners:add' %}" title="Добавить" class="btn btn-light btn-sm add-btn"><i class="fas fa-plus"></i></a>
                </div>
        </div>
        <div class="card-body list-cat ">
            <div class="table-responsive">
              <table class="table table-striped table-bordered first">
                <thead>
                {% if homeowner_obj|length > 0 %}
                 <tr>
                    <th>Дата</th>
                    <th>ФИО</th>
                    <th>Квартира</th>
                    <th>Задолж.</th>
                    <th>Действия</th>
                  </tr>
                {% endif %}
                </thead>
                <tbody>
                  {% if per_page %}
                    {% paginate per_page homeowner_obj %}
                  {% else %}
                    {% paginate 10 homeowner_obj %}
                  {% endif %}
                  {% for homeowner in homeowner_obj %}
                  <tr class="text-center">
                    <td>{{ homeowner.created_on|date:'d.m.Y'}}</td>
                    <td><a href="{% url 'homeowners:view' homeowner.id %}">{{ homeowner.name }}</a></td>
                    <td>
                      {% with apartments=homeowner.apartments.all %}
                        {% if apartments %}
                          {% for apartment in apartments %}
                            <span class="text-left">{{ apartment.address }}</span><br>
                          {% endfor %}
                        {% else %}
                          Нет
                        {% endif %}
                      {% endwith %}
                    </td>
                    <td> {% if homeowner.debt %}Да{% else %}Нет{% endif %}</td>
                    <td class="actions">
                       <a href="{% url 'homeowners:view' homeowner.id %}" title="Подробнее"><i class="fas fa-eye"></i> </a>
                      <a href="{% url 'homeowners:edit' homeowner.id %}" title="Редактировать"><i class="fas fa-pencil-alt"></i></a>
                      <a href="{% url 'homeowners:remove' homeowner.id %}" title="Удалить"><i class="fas fa-trash-alt"></i></a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {%ifequal homeowner_obj|length 0%}
              <h6 class="text-center">Ничего не найдено</h6>
            {%endifequal%}
            <div class="marl row text-center">
              {% show_pages %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    </div>
  </div>

</div>

{% endblock %}
{% block js_block %}
<script type="text/javascript">
  $('.delete').click(function(e){
    e.preventDefault()
    url = $(this).attr('href')
    if (!confirm('Are you sure you want to delete?'))
      return;
    window.location = $(this).attr('href')
  });

  $("a[rel='page']").click(function(e){
    e.preventDefault();
    $('#homeowners_filter').attr("action", $(this).attr("href"));
    $('#homeowners_filter').submit();
  });
</script>
{% endblock js_block %}
