Django
pytz
psycopg2
psycopg2-binary
redis
coverage
pytest
pytest-cov
pytest-django
codacy-coverage
sorl-thumbnail
Pillow
phonenumbers
django-phonenumber-field
whitenoise
djangorestframework
django-bootstrap4
django-heroku
django-choices
gunicorn
tablib
django-filter