{% extends 'base.html' %}
{% load staticfiles %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'leads:list' %}">Собственники</a></li>
    <li class="breadcrumb-item active">Представление</li>
  </ol>
</nav>

{%endblock%}
{% block content %}
<div class="main_container" id="maincontainer">
  <div class="overview_form_block row marl justify-content-center">
    <div class="col-md-8">
      <div class="card">

        <div class="card-body" id="datashow">
         <div class="card-title">
          <h5>
            Обзор
            <span class="float-right" style="margin-top: 0px">
              <div class="dropdown buttons_row">
                <button class="btn btn-primary dropdown-toggle save" type="button" data-toggle="dropdown">Действия
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'leads:edit_lead' lead_record.id %}" class="btn btn-info" role="button">Редактировать</a></li>
                </ul>
              </div>
            </span>
          </h5>
        </div>
          <div class="row marl">
            <div class="col-md-6">

              <div class="filter_col col-md-12" id="iname">
                <div class="form-group" >
                  <label class="lead_field_label" for="id_name" data-name="name">ФИО</label>
                  <div class="lead_field" id="lead_name" data-name="name">{{ lead_record.name }}</div>
                </div>
              </div>

              <div class="filter_col col-md-12" id="iname">
                <div class="form-group" >
                  <label class="lead_field_label" for="gender" data-name="gender">Пол</label>
                  <div class="lead_field" id="gender" data-name="gender">{{ lead_record.gender }}</div>
                </div>
              </div>

              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="lead_field_label" for="birthday" data-name="name">Дата Рождения</label>
                    <div class="lead_field" id="id_birthday" data-name="name">{{ lead_record.birthday }}</div>
                </div>
              </div>

              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="lead_field_label" for="id_phone" data-name="name">Номер</label>
                  <div class="lead_field" id="lead_phone" data-name="name">{{ lead_record.phone }}</div>
                </div>
              </div>

              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="lead_field_label" for="id_email" data-name="name">Email</label>
                  <div class="lead_field" id="lead_email" data-name="name">{{ lead_record.email }}</div>
                </div>
              </div>

              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="lead_field_label" for="debt" data-name="debt">Задолженность</label>
                  <div class="lead_field" id="debt" data-name="debt">{% if lead_record.debt %} Да {% else %} Нет {% endif %} </div>
                </div>
              </div>

              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="lead_field_label" for="debt_status" data-name="debt_status">Статус взыскания задолженности</label>
                  <div class="lead_field" id="debt_status" data-name="debt_status">{{ lead_record.status_of_work_with_debt }}</div>
                </div>
              </div>

              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="lead_field_label" for="garbage_payment" data-name="garbage_payment">Оплата мусора</label>
                  <div class="lead_field" id="garbage_payment" data-name="garbage_payment">{% if lead_record.garbage_payment %} Оплачено {% else %} Нет {% endif %}</div>
                </div>
              </div>



            <h2>Паспортные данные</h2>

              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="lead_field_label" for="garbage_payment" data-name="garbage_payment">Дата выдачи</label>
                  <div class="lead_field" id="garbage_payment" data-name="garbage_payment">{{ lead_record.passport_date }}</div>
                </div>
              </div>

              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="lead_field_label" for="garbage_payment" data-name="garbage_payment">Серия</label>
                  <div class="lead_field" id="garbage_payment" data-name="garbage_payment">{{ lead_record.passport_series }}</div>
                </div>
              </div>

              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="lead_field_label" for="garbage_payment" data-name="garbage_payment">Номер</label>
                  <div class="lead_field" id="garbage_payment" data-name="garbage_payment">{{ lead_record.passport_id }}</div>
                </div>
              </div>

              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="lead_field_label" for="garbage_payment" data-name="garbage_payment">Кем выдан</label>
                  <div class="lead_field" id="garbage_payment" data-name="garbage_payment">{{ lead_record.issued_by }}</div>
                </div>
              </div>

              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="lead_field_label" for="garbage_payment" data-name="garbage_payment">Код подразделения</label>
                  <div class="lead_field" id="garbage_payment" data-name="garbage_payment">{{ lead_record.unit_code }}</div>
                </div>
              </div>

              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="lead_field_label" for="garbage_payment" data-name="garbage_payment">Тип паспорта</label>
                  <div class="lead_field" id="garbage_payment" data-name="garbage_payment">{{ lead_record.type_of_passport }}</div>
                </div>
              </div>



            <h2>Информация</h2>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="lead_field_label" for="garbage_payment" data-name="garbage_payment">Напоминание о Дне Рождения</label>
                  <div class="lead_field" id="garbage_payment" data-name="garbage_payment">{% if lead_record.birthday_reminder %} Да {% else %} Нет {% endif %}</div>
                </div>
              </div>

              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="lead_field_label" for="garbage_payment" data-name="garbage_payment">Проблемный клиент</label>
                  <div class="lead_field" id="garbage_payment" data-name="garbage_payment">{% if lead_record.hard_case %} Да {% else %} Нет {% endif %}</div>
                </div>
              </div>

              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="lead_field_label" for="garbage_payment" data-name="garbage_payment">Лояльный</label>
                  <div class="lead_field" id="garbage_payment" data-name="garbage_payment">{% if lead_record.loyal %} Да {% else %} Нет {% endif %}</div>
                </div>
              </div>

              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="lead_field_label" for="garbage_payment" data-name="garbage_payment">VIP-клиент</label>
                  <div class="lead_field" id="garbage_payment" data-name="garbage_payment">{% if lead_record.vip %} Да {% else %} Нет {% endif %}</div>
                </div>
              </div>

              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="lead_field_label" for="garbage_payment" data-name="garbage_payment">Звонки</label>
                  <div class="lead_field" id="garbage_payment" data-name="garbage_payment">{% if lead_record.calls %} Да {% else %} Нет {% endif %}</div>
                </div>
              </div>

              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="lead_field_label" for="garbage_payment" data-name="garbage_payment">SMS</label>
                  <div class="lead_field" id="garbage_payment" data-name="garbage_payment">{% if lead_record.sms %} Да {% else %} Нет {% endif %}</div>
                </div>
              </div>

              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="lead_field_label" for="garbage_payment" data-name="garbage_payment">Email</label>
                  <div class="lead_field" id="garbage_payment" data-name="garbage_payment">{% if lead_record.mail %} Да {% else %} Нет {% endif %}</div>
                </div>
              </div>

              <div class="filter_col col-md-12">
                <div class="form-group">
                  <label class="lead_field_label" for="garbage_payment" data-name="garbage_payment">Комментарий</label>
                  <div class="lead_field" id="garbage_payment" data-name="garbage_payment">{{ lead_record.comments }}</div>
                </div>
              </div>

            </div>


            <div class="col-md-12">
              <div class="filter_col col-md-12">
                {% if lead_record.status %}
                <div class="form-group">
                  <label class="lead_field_label" for="id_status" data-name="name">Status</label>
                  <div class="lead_field" id="lead_status" data-name="name">{{ lead_record.status }}</div>
                </div>
                {% endif %}
              </div>
              <div class="filter_col col-md-12">
                {% if lead_record.source %}
                <div class="form-group">
                  <label class="lead_field_label" for="id_source" data-name="name">Source</label>
                  <div class="lead_field" id="lead_source" data-name="name">{{ lead_record.source }}</div>
                </div>
                {% endif %}
              </div>
              <div class="filter_col col-md-12">
                {% if lead_record.website %}
                <div class="form-group">
                  <label class="lead_field_label" for="id_website" data-name="name">Website</label>
                  <div class="lead_field" id="lead_website" data-name="name">{{ lead_record.website }}</div>
                </div>
                {% endif %}
              </div>
              <div class="filter_col col-md-12">
                <div class="form-group">
                  {% if lead_record.address.address_line or lead_record.address.street or lead_record.address.city or lead_record.address.state or lead_record.address.postcode or lead_record.address.country %}
                  <label class="lead_field_label" for="id_address" data-name="name" >Расчётный адрес</label>
                  <div class="lead_field" id="lead_address" data-name="name">
                    {{lead_record.address.get_complete_address}}
                  </div>
                  {% endif %}
                </div>
              </div>
              <div class="filter_col col-md-12">
                {% if lead_record.description %}
                <div class="form-group">
                  <label class="lead_field_label" for="id_description" data-name="name" >Описание</label>
                  <div class="lead_field" id="lead_description" data-name="name">{{ lead_record.description }}</div>
                </div>
                {% endif %}
              </div>
            </div>
            <div class="col-md-12">
                <div class="created_information">
                  Создано <b>{{ lead_record.created_by }}</b> <i><b>{{ lead_record.created_on }}</b></i>
                </div>
            </div>
          </div>
        </div>

        <!-- Attachment Section start -->
      <div>
      <div class="card-body mar-top" id="datashow">
          <div class="card-title view-pad">
              <h5>Прикрепления</h5>
         </div>
          <div class="row marl">
              <div class="col-md-12">
                  <form id="attachment_form" method="POST" enctype="multipart/form-data">
                      <div class="form-group ">
                        <input type="file" class="form-control-file" cols="40" id="id_attachments" name="attachment">
                          <div><i id="AttachmentError" style="display:none; color:red"></i></div>
                          <br>
                          <div class="buttons_row">
                              <button class="btn btn-default save" style="text-align: center;" id="attachment_submit">Сохранить</button>
                          </div>
                      </div>
                      <input type="hidden" value="{{lead_record.id}}" name="leadid">
                  </form>
                  <ul class="list-group" id="attachment_div">
                      {% for attachemnt in attachments %}
                          <li class="list-group-item list-row" id="attachment{{attachemnt.id}}">
                              <div class="float-right right-container">
                                <div class="list-row-buttons btn-group float-right">
                                  <button  class="action btn btn-danger" onclick="remove_attachment({{attachemnt.id}})">Удалить</button>
                                </div>
                              </div>
                                <div class="stream-post-container" id="attachment_name{{attachemnt.id}}"><pre><a href="{{ attachemnt.attachment.url }}">{{ attachemnt.file_name }}</a></pre></div>
                              <div class="stream-container">
                                <pre class="float-left">{{ attachemnt.created_by }}</pre>
                                <pre class="float-right">{{ attachemnt.created_on }}</pre>
                              </div>
                          </li>
                      {% endfor %}
                  </ul>
              </div>
          </div>
      </div>
        <!-- Attachment Section end -->

        <!-- Comments Section starts-->
      <div>
        <div class="card-body mar-top" id="datashow">
         <div class="card-title view-pad">
          <h5>Комментарий</h5>
        </div>
          <div class="row marl">
            <div class="col-md-12">
              <form id="comment_form" method="POST" enctype="multipart/form-data">
                <div class="form-group ">
                  <textarea class="form-control" textarea cols="40" rows="3" id="id_comments" name="comment" placeholder="Напишите свой комментарий тут"></textarea><div><i id="CommentError" style="display:none; color:red"></i></div>
                  </br>
                  <div class="buttons_row">
                  <button class="btn btn-default save" style="text-align: center;" id="comment_submit">Submit</button>
                  </div>
                </div>
                <input type="hidden" value="{{lead_record.id}}" name="leadid">
              </form>
              <ul class="list-group" id="comments_div">
                {% for comment in comments %}
                <li class="list-group-item list-row" id="comment{{comment.id}}">
                  <div class="float-right right-container">
                    <div class="list-row-buttons btn-group float-right">
                      <button class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" type="button"><span class="caret"></span></button>
                      <ul class="dropdown-menu text-center">
                        <li>
                          <a class="action" onclick="edit_comment({{comment.id}})">Редактировать</a>
                        </li>
                        <li>
                          <a class="action" onclick="remove_comment({{comment.id}})">Удалить</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="stream-post-container" id="comment_name{{comment.id}}"><pre>{{ comment.comment }}</pre></div>
                  <div class="stream-container">
                    <pre class="float-left">{{ comment.commented_by }}</pre>
                    <pre class="float-right">{{ comment.commented_on }}</pre>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="modal fade" id="Comments_Leads_Modal" role="dialog" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Обновить комментарий</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>

                </div>
                <form id="comment_edit_form" method="POST" >
                  <div class="modal-body">
                    <div class="form-group">
                      <textarea class="form-control" textarea cols="40" rows="3" id="id_editcomment" name="comment" placeholder="Submit Your Comments"></textarea><span><i id="CommentEditError" style="display:none; color:red"></i></span>
                      <input type="hidden" value="{{ lead.id }}" name="leadid">
                      <input type="hidden" value="" name="commentid" id="commentid">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-default save" id="comment_edit" type="submit">Update</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div></div>
        <!-- Comments Section Ends-->
        </div>
        </div>
    <tr id="meeting{{ meeting.id }}">
    </div>
  </div>
</div>
{% endblock %}

{% block js_block %}
 <script src="{% static 'js/calls.js' %}"></script>
 <script src="{% static 'js/meetings.js' %}"></script>
 <script type="text/javascript">
  function resetForm() {
    $('#CommentEditError').hide()
    document.getElementById("CommentEditError").reset();
    }

$("#comment_form").submit(function (e) {
  e.preventDefault()
    const formData = new FormData($("#comment_form")[0]);
    $.ajax({
    url: "{% url 'leads:add_comment' %}",
    type: "POST",
    data: formData,
    cache: false,
    contentType: false,
    processData: false,
    success: function (data) {
      if (data.error) {
        $("#CommentError").html(data.error).show()
      } else {
        d = new Date(data.commented_on);
        $("#comments_div").prepend("<li class='list-group-item list-row' id='comment" + data.comment_id + "'>" +
          "<div class='float-right right-container'>" +
          "<div class='list-row-buttons btn-group float-right'>" +
          "<button class='btn btn-link btn-sm dropdown-toggle' data-toggle='dropdown' type='button'><span class='caret'></span></button>" +
          "<ul class='dropdown-menu text-center'>" +
          "<li><a class='action' onclick='edit_comment(" + data.comment_id + ")'>Edit</a></li>" +
          "<li><a class='action' onclick='remove_comment(" + data.comment_id + ")''>Remove</a></li></ul></div></div>" +
          "<div class='stream-post-container' id='comment_name"+data.comment_id+"'><pre>"+data.comment+"</pre></div>"+
          "<div class='stream-container'><pre class='float-left'>"+data.commented_by+"</pre><pre class='float-right'>"+d.toGMTString()+"</pre></div>"+
          "<div class='stream-date-container' id='comment_file_div"+data.comment_id+"'><div id='new_comment"+data.comment_id+"'</div></div></li>"
        );
        $("#id_comments").val("")
        alert("Comment Submitted")
        $("#CommentError").html("")
      }
    }
  })
});

function edit_comment(x) {
  $('#Comments_Leads_Modal').modal('show');
  comment = $("#comment_name" + x).text()
  $("#commentid").val(x)
  $("#id_editcomment").val(comment)
}

$("#comment_edit").click(function (e) {
  e.preventDefault()
    const formData = new FormData($("#comment_edit_form")[0]);
    $.ajax({
    url: "{% url 'leads:edit_comment' %}",
    type: "POST",
    data: formData,
    cache: false,
    contentType: false,
    processData: false,
    success: function (data) {
      if (data.error) {
        $("#CommentEditError").html(data.error).show()
      } else {
        $("#comment_name" + data.commentid).html('<pre>' + data.comment + '</pre>')
        $('#Comments_Leads_Modal').modal('hide');
        $("#id_editcomment").val("")
        $("#CommentEditError").html("")
      }
    }
  })
});

function HideError(e) {
    $("#CommentError").hide()
  $("#AttachmentError").hide()
}

function remove_comment(x) {
    const con = confirm("Do you want to Delete it for Sure!?");
    if (con == true) {
    $.post('{% url "leads:remove_comment" %}', {
      "comment_id": x
    }, function (data) {
      if (data.error) {
        alert(data.error)
      } else {
        $("#comment" + data.cid).remove()
      }
    })
  }
}

$("#attachment_form").submit(function (e) {
  e.preventDefault()
    const formData = new FormData($("#attachment_form")[0]);
    $.ajax({
    url: "{% url 'leads:add_attachment' %}",
    type: "POST",
    data: formData,
    cache: false,
    contentType: false,
    processData: false,
    success: function (data) {
        alert("Attachment Saved")
      if (data.error) {
        $("#AttachmentError").html(data.error).show()
      alert("Attachment Saved")
      } else {
        $("#attachment_div").prepend(
            "<li class='list-group-item list-row' id='attachment" + data.attachment_id + "'>" +
              "<div class='float-right right-container'><div class='list-row-buttons btn-group float-right'><button class='action btn btn-danger' onclick='remove_attachment("+data.attachment_id+")''>Remove</button></div></div>" +
              "<div class='stream-post-container' id='comment_name"+data.attachment_id+"'><pre><a href='"+data.attachment_url+"'>"+data.attachment+"</a></pre></div>"+
              "<div class='stream-container'><pre class='float-left'>"+data.created_by+"</pre><pre class='float-right'>"+data.created_on+"</pre></div>" +
            "</li>"
        );
        $("#id_attachments").val("")
        alert("Attachment Saved")
        $("#AttachmentError").html("")
      }
    }
  })
});


function remove_attachment(x) {
    const con = confirm("Do you want to Delete it for Sure!?");
    if (con == true) {
    $.post('{% url "leads:remove_attachment" %}', {
      "attachment_id": x
    }, function (data) {
      if (data.error) {
        alert(data.error)
      } else {
        $("#attachment" + data.aid).remove()
      }
    })
  }
}

</script>
{% endblock js_block %}
