{% extends 'base.html' %}
{% load static %}
{#{% load custom_tags %}#}
{#{% block title %} {% website_title objects %} {% endblock %}#}
{##}
{#{% block breadcrumb %}#}
{#    <div class="page-header">#}
{#        <h2 class="pageheader-title">{% verbose_name_plural view.model %}</h2>#}
{#    </div>#}
{#{% endblock breadcrumb %}#}

{% block content %}
    <h1>{{ poll.question }}</h1>
    <form action="{% url 'client:poll-vote' poll.id %}" method="post">
        {% csrf_token %}
        {% for choice in poll.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br/>
        {% endfor %}
        <input type="submit" value="Голосовать"/>
    </form>

{% endblock %}