{% extends 'base.html' %}
{% load static %}
{% load comment_tags %}
{% load render_table from django_tables2 %}
{% block extralinks %}
    <link rel="stylesheet" href="{% static 'css/comment.css' %}">
{% endblock %}
{% block title %}{{ apartment.address }} - Comfortable Home{% endblock %}
{% block breadcrumb %}
    <div class="page-header">
        <h2 class="pageheader-title">{{ apartment.address }}, помещение {{ apartment.apartment_number }}</h2>
        <div class="page-breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'apartments:list' %}">Помещения</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ apartment.address }},
                        помещение {{ apartment.apartment_number }}</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock breadcrumb %}
{% block content %}
    <div class="col-md-12">
        <div class="simple-card">
            <div class="card-header d-flex">
                <div class="toolbar ml-auto">
                    <a href="{% url 'apartments:edit' apartment.id %}" class="btn btn-light btn-sm"><i
                            class="fas fa-pencil-alt"></i></a>
                    <a href="{% url 'apartments:remove' apartment.id %}" class="btn btn-light btn-sm"><i
                            class="fas fa-trash-alt"></i></a>
                </div>
            </div>
            <div class="card-body p-0">
                <ul class="nav nav-tabs" id="myTab5" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link border-left-0 active show" id="main-information-tab"
                           data-toggle="tab" href="#main-information" role="tab" aria-controls="home"
                           aria-selected="true">Подробная информация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="activity-information-tab" data-toggle="tab"
                           href="#activity-information" role="tab" aria-controls="contact"
                           aria-selected="false">Обращения</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="invoice-information-tab" data-toggle="tab"
                           href="#invoice-information" role="tab" aria-controls="contact"
                           aria-selected="false">Взаиморасчеты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="documents-tab" data-toggle="tab"
                           href="#documents" role="tab" aria-controls="contact"
                           aria-selected="false">Документы</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent5">
                    <div class="tab-pane fade active show" id="main-information" role="tabpanel"
                         aria-labelledby="home-tab-simple">
                        <p class="text-left">Адрес: {{ apartment.address }}</p>
                        <p class="text-left">Номер помещения: {{ apartment.apartment_number }}</p>
                        <p class="text-left">Подъезд: {{ apartment.entrance }}</p>
                        <p class="text-left">Этаж: {{ apartment.floor }}</p>
                        <p class="text-left">Количество комнат: {{ apartment.number_of_rooms }}</p>
                        <p class="text-left">Площадь: {{ apartment.area }}</p>
                        <p class="text-left">Статус: {{ apartment.status }}</p>
                        <p class="text-left">Номер лицевого счета: {{ apartment.number_of_business_account }}</p>
                        <p class="text-left">Баланс лицевого счёта: {{ apartment.balance_of_business_account }}</p>
                    </div>
                    <div class="tab-pane fade" id="activity-information" role="tabpanel"
                         aria-labelledby="activity-tab-simple">
                        {% render_table requests_table %}
                    </div>
                    <div class="tab-pane fade" id="invoice-information" role="tabpanel"
                         aria-labelledby="invoice-tab-simple">
                        {% render_table invoices_table %}
                    </div>

                    <div class="tab-pane fade" id="documents" role="tabpanel"
                         aria-labelledby="documents-tab">
                        {% render_table documents_table %}
                    </div>

                </div>
            </div>
            <div class="card-footer  p-0 text-left d-flex justify-content-center">
                <div class="card-footer-item card-footer-item-bordered">
                    Создано: {{ apartment.created_on }}
                </div>
                <div class="card-footer-item card-footer-item-bordered">
                </div>
            </div>
        </div>
        {% get_comments apartment request %}
    </div>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/comment.js' %}"></script>
{% endblock %}
