{% extends 'base.html' %}
{% load staticfiles %}
{% block extralinks %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block title %} <title>{% if account_obj %}Редактировать {% else %}Добавить {% endif %}исполнителя - Comfortable Home</title>{% endblock %}
{% block breadcrumb %}
<div class="page-header">
        <h2 class="pageheader-title">{% if account_obj %}Редактировать {% else %}Добавить {% endif %}исполнителя</h2>
    <div class="page-breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li  class="breadcrumb-item"><a href="{% url 'accounts:list' %}">Исполнители</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% if account_obj %}Редактировать {% else %}Добавить {% endif %} исполнителя</li>
            </ol>
        </nav>
    </div>
</div>
{% endblock %}
{% block content %}
  <form id="formid" action='' method="POST" novalidate>
    <div class="overview_form_block row marl ">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row marl">
              <div class="col-md-12">
                <div class="filter_col col-md-12">
                  <div class="form-group">
                    <label for="exampleInputEmail1" class="required">ФИО{% if account_form.name.field.required %}<span class="error">*</span>{% endif %}</label>
                    {{ account_form.name }}
                    <span class="error">{{ account_form.name.errors }}</span>
                  </div>
                </div>
{#                <div class="filter_col col-md-12">#}
{#                  <div class="form-group">#}
{#                    <label for="exampleInputEmail1">Website{% if account_form.website.field.required %}<span class="error">*</span>{% endif %}</label>#}
{#                    {{ account_form.website }}#}
{#                    <span class="error">{{ account_form.website.errors }}</span>#}
{#                  </div>#}
{#                </div>#}
                <div class="filter_col col-md-12">
                  <div class="form-group">
                    <label for="exampleInputEmail1" class="required">Телефон{% if account_form.phone.field.required %}<span class="error">*</span>{% endif %}</label>
                    {{ account_form.phone }}
                    <span class="error">{{ account_form.phone.errors }}</span>
                  </div>
                </div>
                <div class="filter_col col-md-12">
                  <div class="form-group ">
                    <label for="exampleInputEmail1" class="required">Email{% if account_form.email.field.required %}<span class="error">*</span>{% endif %}</label>
                    {{ account_form.email }}
                    <span class="error">{{ account_form.email.errors }}</span>
                  </div>
                </div>
                <div class="filter_col col-md-12">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Тип деятельности{% if account_form.industry.field.required %}<span class="error">*</span>{% endif %}</label>
                    {{ account_form.industry }}
                    <span class="error">{{ account_form.industry.errors }}</span>
                  </div>
                </div>
                <div class="filter_col col-md-12">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Описание{% if account_form.description.field.required %}<span class="error">*</span>{% endif %}</label>
                    {{ account_form.description }}
                    <span class="error">{{ account_form.description.errors }}</span>
                  </div>
                </div>
              </div>
            </div>
            <br clear="all">
          </div>
        <div class="card-footer  p-0 text-left d-flex justify-content-center">
            <div class="card-footer-item card-footer-item-bordered">
                <button class="btn btn-default save" type="submit">Сохранить</button>
            </div>
            {% if not account_obj %}
            <div class="card-footer-item card-footer-item-bordered">
                <button class="btn btn-default save savenew" type="submit">Сохранить и добавить ещё</button>
            </div>
            {% endif %}
            <div class="card-footer-item card-footer-item-bordered">
                <a href="{% url 'accounts:list' %}" class="btn btn-default clear">Отмена</a>
            </div>
        </div>
        </div>
      </div>
      <br clear="all">
      <input type="hidden" id="save_new_form" name="savenewform">
    </div>
  </form>
{% endblock %}
{% block js_block %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <script type="text/javascript">
    $(".savenew").on('click', function(e){
      e.preventDefault()
      $("#save_new_form").val('true')
      $('#formid').submit()
    });
    $(document).ready(function() {
      $('.assigned_users').select2();
    });
  </script>
{% endblock js_block %}
