{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} <title>{{account.name}} - Comfortable Home</title>{% endblock %}
{% block breadcrumb %}
<div class="page-header">
        <h2 class="pageheader-title">{{account.name}} ({{ account.industry }})</h2>
    <div class="page-breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li  class="breadcrumb-item"><a href="{% url 'accounts:list' %}">Исполнители</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{account.name}}</li>
            </ol>
        </nav>
    </div>
</div>
{% endblock breadcrumb %}
{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header d-flex">
                <h3 class="card-header-title">Подробная информация</h3>
                <div class="toolbar ml-auto">
                    <a href="{% url 'accounts:edit_account' account.id %}" class="btn btn-light btn-sm"><i class="fas fa-pencil-alt"></i></a>
                    <a href="{% url 'accounts:remove_account' account.id %}" class="btn btn-light btn-sm"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
            <div class="card-body">
                <p class="text-left">ФИО: {{account.name}}</p>
                <p class="text-left">Телефон: {{account.phone}}</p>
                <p class="text-left">Email: {{account.email}}</p>
                <p class="text-left">Тип деятельности: {{account.industry}}</p>
                <p class="text-left">Активен:
                {% if account.is_active %} Да
                    {% else %} Нет
                    {% endif %}
                </p>
                <p class="text-left">Комментарий: {{account.description}}</p>
            </div>
            <div class="card-footer  p-0 text-left d-flex justify-content-center">
                <div class="card-footer-item card-footer-item-bordered">
                Дата: {{ account.created_on }}
                </div>
                <div class="card-footer-item card-footer-item-bordered">
                Добавил: {{ account.created_by.username }}
                </div>
            </div>
        </div>
    </div>
  {% endblock content %}
{% block js_block %}
{% endblock js_block %}
