{% extends 'base.html' %}
{% load staticfiles %}
{% load paginate %}
{% block title %} <title>Новости - Comfortable Home</title>{% endblock %}
{% block breadcrumb %}
<div class="page-header">
    <h2 class="pageheader-title">Новости</h2>
</div>
{% endblock %}
{% block content %}
<div class="filter_row row marl">
    <div class="col-md-12">
       <div class="table_container_row row marl no-gutters">
    <div class="col-md-12">
      <div class="card">
      <div class="card-header d-flex">
          <h3 class="card-header-title">{% if show_pageitems %} {% show_pageitems %}{% else %}Всего: {{news_obj_list|length}}{% endif %}</h3>
                <div class="toolbar ml-auto">
                    <a href="#" title="Конвертировать" class="btn btn-light btn-sm to-xls">XLS</a>
                    <a href="#" title="Конвертировать" class="btn btn-light btn-sm to-cvs">CSV</a>
                    <a href="{% url 'news:add' %}" title="Добавить" class="btn btn-light btn-sm add-btn"><i class="fas fa-plus"></i></a>
                </div>
        </div>
        <div class="card-body list-cat ">
          <div class="table-responsive">
          <table class="table table-striped table-bordered first">
            <thead>
              <tr>
                  <th>Дата</th>
                  <th>Заголовок</th>
                  <th>Опубликована</th>
                  <th>Действия</th>
              </tr>
            </thead>
            <tbody>
              {% if per_page %}
                {% paginate per_page news_obj_list %}
              {% else%}
                {% paginate 10 news_obj_list %}
              {% endif %}
              {% for each_entry in news_obj_list %}
              <tr id="news_details{{each_entry.id}}" class="text-center">
                <td>{{ each_entry.created_date|date:'d.m.Y'  }}</td>
                <td>{% if each_entry.title %}<a href="{% url 'news:view' each_entry.id %}">{{ each_entry.title }}</a>{% endif %}</td>
                <td>
                    {% if each_entry.is_published %} Да
                    {% else %} Нет
                    {% endif %}
                </td>
                <td class="actions">
                   <a href="{% url 'news:view' each_entry.id %}" ><i class="fas fa-eye"></i></a>
                  <a href="{% url 'news:edit' each_entry.id %}" ><i class="fas fa-pencil-alt"></i></a>
                  <a href="{% url 'news:remove' each_entry.id %}" ><i class="fas fa-trash-alt"></i></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          </div>
          {% ifequal news_obj_list|length 0 %}
            <h6 class="text-center">Новостей нет</h6>
          {% endifequal %}
          <div class="text-center row marl">
            {% show_pages %}
          </div>
        </div>
      </div>
      <br clear="all">
    </div>
  </div>
    </div>
  </div>
{% endblock %}