{% load staticfiles %}
{% load thumbnail %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap-->
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_messages %}
    {% bootstrap_javascript jquery='full' %}

    <link rel="stylesheet" href="{% static 'libs/css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'vendor/charts/chartist-bundle/chartist.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/charts/morris-bundle/morris.css' %}">
    <link rel="stylesheet"
          href="{% static 'vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/charts/c3charts/c3.css' %}">
    {% block extralinks %} {% endblock %}
    <title>Comfortable Home</title>
</head>

<body>
<div class="dashboard-main-wrapper">
    <div class="dashboard-header">
        <nav class="navbar navbar-expand-lg bg-white fixed-top">
            <a class="navbar-brand" href="/">Comfortable Home CRM</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto navbar-right-top">
                    <li class="nav-item">
                        <div id="custom-search" class="top-search-bar">
                            <input class="form-control" type="text" placeholder="Поиск..">
                        </div>
                    </li>
                    <li class="nav-item dropdown notification">
                        <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span
                                class="indicator"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                            <li>
                                <div class="notification-title"> Оповещения</div>
                                {#                                <div class="notification-list">#}
                                {#                                    <div class="list-group">#}
                                {#                                        <a href="#" class="list-group-item list-group-item-action active">#}
                                {#                                            <div class="notification-info">#}
                                {#                                                <div class="notification-list-user-img"><img#}
                                {#                                                        src="{% static 'images/avatar-2.jpg' %}" alt=""#}
                                {#                                                        class="user-avatar-md rounded-circle"></div>#}
                                {#                                                <div class="notification-list-user-block"><span#}
                                {#                                                        class="notification-list-user-name">Jeremy Rakestraw</span>accepted#}
                                {#                                                    your invitation to join the team.#}
                                {#                                                    <div class="notification-date">2 min ago</div>#}
                                {#                                                </div>#}
                                {#                                            </div>#}
                                {#                                        </a>#}
                                {#                                        <a href="#" class="list-group-item list-group-item-action">#}
                                {#                                            <div class="notification-info">#}
                                {#                                                <div class="notification-list-user-img"><img#}
                                {#                                                        src="{% static 'images/avatar-3.jpg' %}" alt=""#}
                                {#                                                        class="user-avatar-md rounded-circle"></div>#}
                                {#                                                <div class="notification-list-user-block"><span#}
                                {#                                                        class="notification-list-user-name">John Abraham </span>is now#}
                                {#                                                    following you#}
                                {#                                                    <div class="notification-date">2 days ago</div>#}
                                {#                                                </div>#}
                                {#                                            </div>#}
                                {#                                        </a>#}
                                {#                                        <a href="#" class="list-group-item list-group-item-action">#}
                                {#                                            <div class="notification-info">#}
                                {#                                                <div class="notification-list-user-img"><img#}
                                {#                                                        src="{% static 'images/avatar-4.jpg' %}" alt=""#}
                                {#                                                        class="user-avatar-md rounded-circle"></div>#}
                                {#                                                <div class="notification-list-user-block"><span#}
                                {#                                                        class="notification-list-user-name">Monaan Pechi</span> is#}
                                {#                                                    watching your main repository#}
                                {#                                                    <div class="notification-date">2 min ago</div>#}
                                {#                                                </div>#}
                                {#                                            </div>#}
                                {#                                        </a>#}
                                {#                                        <a href="#" class="list-group-item list-group-item-action">#}
                                {#                                            <div class="notification-info">#}
                                {#                                                <div class="notification-list-user-img"><img#}
                                {#                                                        src="{% static 'images/avatar-5.jpg' %}" alt=""#}
                                {#                                                        class="user-avatar-md rounded-circle"></div>#}
                                {#                                                <div class="notification-list-user-block"><span#}
                                {#                                                        class="notification-list-user-name">Jessica Caruso</span>accepted#}
                                {#                                                    your invitation to join the team.#}
                                {#                                                    <div class="notification-date">2 min ago</div>#}
                                {#                                                </div>#}
                                {#                                            </div>#}
                                {#                                        </a>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                            </li>
                            <li>
                                <div class="list-footer"><a href="#">Смотреть все</a></div>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown connection">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
                        <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                            {#                            <li class="connection-list">#}
                            {#                                <div class="row">#}
                            {#                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">#}
                            {#                                        <a href="#" class="connection-item"><img src="{% static 'images/github.png' %}"#}
                            {#                                                                                 alt=""> <span>Github</span></a>#}
                            {#                                    </div>#}
                            {#                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">#}
                            {#                                        <a href="#" class="connection-item"><img#}
                            {#                                                src="{% static 'images/dribbble.png' %}" alt="">#}
                            {#                                            <span>Dribbble</span></a>#}
                            {#                                    </div>#}
                            {#                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">#}
                            {#                                        <a href="#" class="connection-item"><img src="{% static 'images/dropbox.png' %}"#}
                            {#                                                                                 alt=""> <span>Dropbox</span></a>#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                                <div class="row">#}
                            {#                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">#}
                            {#                                        <a href="#" class="connection-item"><img#}
                            {#                                                src="{% static 'images/bitbucket.png' %}" alt=""> <span>Bitbucket</span></a>#}
                            {#                                    </div>#}
                            {#                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">#}
                            {#                                        <a href="#" class="connection-item"><img#}
                            {#                                                src="{% static 'images/mail_chimp.png' %}"#}
                            {#                                                alt=""><span>Mail chimp</span></a>#}
                            {#                                    </div>#}
                            {#                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">#}
                            {#                                        <a href="#" class="connection-item"><img src="{% static 'images/slack.png' %}"#}
                            {#                                                                                 alt=""> <span>Slack</span></a>#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                            </li>#}
                            <li>
                                <div class="conntection-footer"><a href="#">Ещё</a></div>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown nav-user">
                        {% if not request.user.profile_pic %}
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2"
                               data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false"><img src="{% static 'images/user.png' %}"
                                                                               alt=""
                                                                               class="user-avatar-md rounded-circle"></a>
                        {% else %}
                            {% thumbnail request.user.profile_pic "25x25" as im %}
                                <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2"
                                   data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false"><img src="{{ im.url }}"
                                                                                   alt=""
                                                                                   class="user-avatar-md rounded-circle"></a>
                            {% endthumbnail %}
                        {% endif %}
                        <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                             aria-labelledby="navbarDropdownMenuLink2">
                            <div class="nav-user-info">
                                <h5 class="mb-0 text-white nav-user-name">{{ request.user }} </h5>
                                <span class="status"></span><span class="ml-2">Доступен</span>
                            </div>
                            <a class="dropdown-item" href="{% url 'common:profile' %}"><i class="fas fa-user mr-2"></i>Мой
                                профиль</a>
                            <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Настройки</a>
                            <a class="dropdown-item" href="{% url 'common:logout' %}"><i
                                    class="fas fa-power-off mr-2"></i>Выйти</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="nav-left-sidebar sidebar-dark">
        <div class="menu-list">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-divider">
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false"
                               data-target="#submenu-1" aria-controls="submenu-1"><i
                                    class="fas fa-user-circle"></i>Пользователи<span
                                    class="badge badge-success">6</span></a>
                            <div id="submenu-1" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    {% if request.user.role == "ADMIN"  or request.user.is_superuser %}
                                        <li class="nav-item"><a class="nav-link" id="users"
                                                                href="{% url 'common:users_list' %}">Список</a></li>
                                        <li class="nav-item"><a class="nav-link" href="{% url 'common:create_user' %}">Добавить</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                               data-target="#submenu-2" aria-controls="submenu-2"><i class="fas fa-wrench"></i>Исполнители</a>
                            <div id="submenu-2" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item"><a class="nav-link" id="accounts"
                                                            href="{% url 'accounts:list' %}">Список</a>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'accounts:new_account' %}">Добавить</a></li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                               data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-building"></i>Помещения</a>
                            <div id="submenu-3" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item"><a class="nav-link" id="contacts"
                                                            href="{% url 'apartments:list' %}">Список</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'apartments:add' %}">Добавить</a></li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                               data-target="#submenu-4" aria-controls="submenu-4"><i class="fas fa-user-friends"></i>Собственники</a>
                            <div id="submenu-4" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item"><a class="nav-link" id="contacts"
                                                            href="{% url 'leads:list' %}">Список</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'leads:add_lead' %}">Добавить</a></li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                               data-target="#submenu-5" aria-controls="submenu-5"><i class="fas fa-poll"></i>Опросы</a>
                            <div id="submenu-5" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item"><a class="nav-link" id="contacts"
                                                            href="{% url 'opportunities:list' %}">Список</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="#">Добавить</a></li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                               data-target="#submenu-6" aria-controls="submenu-6"><i class="fas fa-clipboard"></i>Заявки</a>
                            <div id="submenu-6" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item"><a class="nav-link" id="contacts"
                                                            href="{% url 'cases:list' %}">Список</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'cases:create_request' %}">Добавить</a></li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                               data-target="#submenu-7" aria-controls="submenu-7"><i class="fas fa-newspaper"></i>Новости</a>
                            <div id="submenu-7" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item"><a class="nav-link" id="contacts"
                                                            href="{% url 'news:list' %}">Список</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'news:new_entry' %}">Добавить</a></li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                               data-target="#submenu-8" aria-controls="submenu-8"><i class="fas fa-book"></i>Справочники</a>
                            <div id="submenu-8" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item"><a class="nav-link" id="contacts"
                                                            href="{% url 'catalog:addresses_list' %}">Адреса</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-divider">
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'common:doc_list' %}">Файлы</a></li>

                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content">
                {% block breadcrumb %}
                {% endblock %}

                {% block content %}
                {% endblock %}
            </div>
        </div>

        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        Copyright © 2019 ComHome
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="text-md-right footer-links d-none d-sm-block">
                            {#                            <a href="javascript: void(0);">About</a>#}
                            {#                            <a href="javascript: void(0);">Support</a>#}
                            {#                            <a href="javascript: void(0);">Contact Us</a>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script src="{% static 'vendor/slimscroll/jquery.slimscroll.js' %}"></script>
<!-- main js -->
<script src="{% static 'libs/js/main-js.js' %}"></script>
<!-- chart chartist js -->
<script src="{% static 'vendor/charts/chartist-bundle/chartist.min.js' %}"></script>
<!-- sparkline js -->
<script src="{% static 'vendor/charts/sparkline/jquery.sparkline.js' %}"></script>
<!-- morris js -->
<script src="{% static 'vendor/charts/morris-bundle/raphael.min.js' %}"></script>
<script src="{% static 'vendor/charts/morris-bundle/morris.js' %}"></script>
<!-- chart c3 js -->
<script src="{% static 'vendor/charts/c3charts/c3.min.js' %}"></script>
<script src="{% static 'vendor/charts/c3charts/d3-5.4.0.min.js' %}"></script>
<script src="{% static 'vendor/charts/c3charts/C3chartjs.js' %}"></script>
<script src="{% static 'libs/js/dashboard-ecommerce.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
{% block js_block %}

{% endblock js_block %}
<script type="text/javascript">
    $(document).ready(function () {
        word = window.location.pathname.split('/')[1];
        $('#' + word).addClass('active')
    })
</script>
</body>

</html>