{% extends 'base.html' %}
{% load bootstrap4 %}
{% load staticfiles %}
{% load custom_tags %}
{% load render_table from django_tables2 %}
{% load export_url from  django_tables2 %}
{% block title %} {% website_title objects %} {% endblock %}

{% block breadcrumb %}
    <div class="page-header">
        <h2 class="pageheader-title">{% verbose_name_plural objects %}</h2>
    </div>
{% endblock breadcrumb %}

{% block content %}
    <div class="main_container">
        {% if filter %}
            <form action="" method="get">
            <div class="card filter">
            <div class="card-header d-flex">
                <h4>Фильтры</h4>
            </div>
                 <div class="card-body">
                    {% bootstrap_form filter.form layout='inline' %}
            </div>
            <div class="card-footer-item">
                {% bootstrap_button 'Применить' %}
            </div>
            </div>
            </form>
        {% endif %}
        <div class="card">
            <div class="card-header d-flex">
                <div class="toolbar ml-auto">
                    <a href="{% export_url "xls" %}" title="Конвертировать" class="btn btn-light btn-sm to-xls">XLS</a>
                    <a href="{% export_url "csv" %}" title="Конвертировать" class="btn btn-light btn-sm to-cvs">CSV</a>
                    <a href="#" title="Конвертировать" class="btn btn-light btn-sm filter-toggle">
                        <i class="fas fa-filter"></i></a>
                    <a href="{% url urls.add %}" title="Добавить" class="btn btn-light btn-sm add-btn"><i
                            class="fas fa-plus"></i></a>
                </div>
            </div>
            <div class="card-body list-cat ">
                {% render_table table %}
            </div>
        </div>
    </div>
{% endblock %}
