{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Вход</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_messages %}
    <link rel="stylesheet" href="{% static 'libs/css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <style>
    html,
    body {
        height: 100%;
    }

    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
        .navbar-brand {
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body class="login_register_body">
    <div class="splash-container">
        <div class="card ">
            <div class="card-header text-center"><a class="navbar-brand" href="/"><i class="fas fa-home"></i> Com<span>Home</span></a></div>
            <div class="card-body login_form_block">
                <form method="POST" action="">
                    <div class="form-group">
                        <input class="form-control form-control-lg" id="username" name="email" type="text" placeholder="Email" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" id="password" name="password" type="password" placeholder="Пароль">
                    </div>
                    {% if error %}
                            <p class="error">{{ message }}</p>
                        {% endif %}
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox"><span class="custom-control-label">Запомнить</span>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Войти</button>
                </form>
            </div>
            <div class="card-footer bg-white p-0  ">
{#                <div class="card-footer-item card-footer-item-bordered">#}
{#                    <a href="{% url "common:password_reset" %}" class="footer-link">Забыл пароль</a>#}
{#                </div>#}
                <div class="card-footer-item card-footer-item-bordered">Email: comhome@test.com</div>
                <div class="card-footer-item card-footer-item-bordered">Пароль: admin</div>
            </div>
        </div>
    </div>
    {% bootstrap_javascript jquery='full' %}
</body>

</html>
