{% extends 'base.html' %}
{% load bootstrap4 %}
{% load staticfiles %}
{% load custom_tags %}
{% load render_table from django_tables2 %}
{% load export_url from  django_tables2 %}
{% block title %} {% website_title objects %} {% endblock %}

{% block breadcrumb %}
    <div class="page-header">
        <h2 class="pageheader-title">{% verbose_name_plural view.model %}</h2>
    </div>
{% endblock breadcrumb %}

{% block content %}
    <div class="main_container">
        <div class="card mb-0">
            <div class="card-header d-flex">
                <div class="toolbar mr-auto">
                    <input class="form-control" id="table-search" type="text" placeholder="Поиск">
                </div>
                <div class="toolbar ml-auto">
                    <a href="#" class="btn btn-light btn-sm dropdown-toggle" type="button" id="exportChoices"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                            class="fas fa-file-download" data-toggle="download-formats"></i> Загрузить</a>
                    <div class="dropdown-menu" aria-labelledby="exportChoices">
                        <a class="dropdown-item" href="{% export_url "xls" %}">XLS</a>
                        <a class="dropdown-item" href="{% export_url "csv" %}">CSV</a>
                    </div>
                    {% if filter %}<a data-toggle="collapse" href="#filters" role="button" aria-expanded="false"
                                      aria-controls="filters" class="btn btn-light btn-sm">
                        <i class="fas fa-filter"></i> Фильтры</a> {% endif %}
                    {% if urls.add %}
                        <a href="{% url urls.add %}" class="btn btn-light btn-sm add-btn"><i
                                class="fas fa-plus"></i> Добавить</a>
                    {% endif %}
                </div>
            </div>
            {% if filter %}
                <form action="" id="filters" method="get" class="collapse">
                    <div class="row card-body filter">
                        {% bootstrap_form filter.form form_group_class="col-md-4 d-inline-block mb-1" %}
                    </div>
                    <div class="card-footer">
                        {% bootstrap_button 'Применить' button_class="btn btn-light btn-sm" %}
                    </div>
                </form>
            {% endif %}
        </div>
        <div class="card">
            <div class="card-body list-cat ">
                {% render_table table %}
            </div>
        </div>
    </div>
{% endblock %}