{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} <title>{% if enrty_obj %}Редактировать {% else %}Добавить {% endif %} новость - Comfortable Home</title>{% endblock %}
{% block breadcrumb %}
<div class="page-header">
        <h2 class="pageheader-title">{% if enrty_obj %}Редактировать {% else %}Добавить {% endif %}новость</h2>
    <div class="page-breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li  class="breadcrumb-item"><a href="{% url 'news:list' %}">Новости</a></li>
                <li class="breadcrumb-item active" aria-current="page">{% if enrty_obj %}Редактировать {% else %}Добавить {% endif %} новость</li>
            </ol>
        </nav>
    </div>
</div>
{% endblock %}
{% block content %}
    <form id="formid" action='' method="POST" novalidate>
        <div class="overview_form_block row marl ">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row marl">
                            <div class="col-md-12">
                                <div class="filter_col col-md-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" class="required">Заголовок
                                            {% if entry_form.title.field.required %}
                                                <span class="error">*</span>{% endif %}</label>
                                        {{ entry_form.title }}
                                        <span class="error">{{ entry_form.title.errors }}</span>
                                    </div>
                                </div>
                                <div class="filter_col col-md-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1" class="required">Текст новости
                                            {% if entry_form.text.field.required %}
                                                <span class="error">*</span>{% endif %}</label>
                                        {{ entry_form.text }}
                                        <span class="error">{{ entry_form.text.errors }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br clear="all">
                    </div>
                    <div class="card-footer  p-0 text-left d-flex justify-content-center">
            <div class="card-footer-item card-footer-item-bordered">
                <button class="btn btn-default save" type="submit">Сохранить</button>
            </div>
            {% if not account_obj %}
            <div class="card-footer-item card-footer-item-bordered">
                <button class="btn btn-default save savenew" type="submit">Сохранить и добавить ещё</button>
            </div>
            {% endif %}
            <div class="card-footer-item card-footer-item-bordered">
                <a href="{% url 'news:list' %}" class="btn btn-default clear">Отмена</a>
            </div>
        </div>
                </div>
            </div>
            <br clear="all">
            <input type="hidden" id="save_new_form" name="savenewform">
        </div>
    </form>
{% endblock %}

{% block js_block %}
  <script type="text/javascript">
    $(".savenew").on('click', function(e){
      e.preventDefault();
      $("#save_new_form").val('true');
      $('#formid').submit();
    });
  </script>
{% endblock js_block %}